.view-wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
	align-items: center;
	max-width: 800px;
	margin: 0 auto;
	padding: 80px 20px;
}

.view-wrapper__title {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	line-height: 46px;
}